<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Restaurants catalogue" />
  <meta name="theme-color" content="#BE8C63" />
  <link rel="manifest" href="manifest.json" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#restaurant" class="skip-link" tabindex="0">to restaurant</a>
  <app-bar></app-bar>
  <app-jumbotron></app-jumbotron>
  <div id="mainContent" tabindex="0"></div>
  <footer class="text-center" style="padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
    <h3>Copyright © 2022 - Hunger Apps</h3>
  </footer>
</body>

</html>